.appBody{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.addTaskBox{
  width: 500px;
  height: 400px;
  border: 1px solid black;
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
  align-content: stretch;
  margin-bottom: 10px;
}

.addTaskBoxDiv{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.taskTitleInput{
  width: 95%;
  height: 53px;
  margin-bottom: 6.5%;
  margin-right: 10%;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  line-height: 1.5;
  font-size: 1rem;
  padding: 8px;
  color: #495057;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.addToDoButton{
  width: 219px;
  text-align: center;
  border-radius: .25rem;
  cursor: pointer;
  background: #FED136;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 20px 5px;
  margin-top: 5%;
  
  transition: .73s;
}